/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  font-family: "Roboto", sans-serif;
  margin: 10px auto 10px auto;
  background-color: white;
  border-radius: 10px;
  border: 4px solid #3876BF;
}

/* Header section */

#top-header {
  display: flex;
 justify-content: space-between;
}

li a {
  text-decoration: none;
  
}
#main-heading {
  padding-left: 10px;
  padding-bottom: 10px;
}

 #top-header a {
  text-decoration: none;
  color: black;
}

.siteName {
  font-size: xx-large;
  font-weight: 900;
 margin: 10px 0px 0px 10px;
}

#tools  {
  margin-right: 10px;
  margin: 10px 10px 0px 0px;
}
/*Style navigation*/
nav {
background-color: black;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 12px;
 
}
nav ul li a {
  list-style: none;
  color: white;
}

nav a:hover {
background-color: aliceblue;
color: black;
}
/* Style classification view*/
#inv-display img {
  width: 100%;
  padding-right: 50px;
}
.classification-heading {
  padding-left: 40px;
}
.namePrice {
  margin-bottom: 10px;
}
.namePrice h2 a {
  color: black;
}
.namePrice span {
  background-color: #3876BF;
  color: aliceblue;
}
.namePrice hr {
  margin-right: 50px;
}

#inv-display  li {
  list-style: none;
 }
/* Style vehicles details*/
.detail-heading {
  padding-left: 50px;
}
#inv-detail li {
  list-style: none;
}
#inv-detail img {
   width: 100%;
   padding: 10px;
}
.details {
  padding: 10px;
}
.price-mil-color {
  display: flex;
  padding: 10px;
}
.price-mil-color h3 {
  font-style: italic;
  margin: 10px;
}
.price-mil-color span {
  font-size: medium;
  background-color: #3876BF;
  color:aliceblue;
}

/* Style registration and login form*/
.register-form, .login-form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border:1px solid #cfcfcf;
  background-color: #3876BF;
  border-radius: 5px;
 
}
.login-register {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
}

input[type="submit"] {
  width: 100px;
  padding: 10px;
  background-color: aliceblue;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
#add-class-form input[type="submit"] {
  width: 120px;
  padding: 10px;
  background-color: aliceblue;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.ext-p-form {
  color: #cfcfcf;
  font-size: small;
}
.login-form p {
  color: black;
  font-size: small;
}
#add-class-form p 
a {
  color: #cfcfcf;
  text-decoration: none;
  font-size: small;
}

#pwdBtn {
  border: 1px solid black;
  border-radius: 3px;
  padding: 4px;
  font-size: small;
  text-align: center;
  background-color: aliceblue;
}

/* Style management view*/
.view-management {
  margin-left:60px;
  margin-bottom: 20px;
}
.anchor-management-view {
  
 color: black;
}
.anchor-management-view:hover {
  background-color: #3876BF;
 color: aliceblue;
}

/* Style add classification form*/
#add-class-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border:1px solid #cfcfcf;
  background-color: #3876BF;
  border-radius: 5px;
  
}

#add-class-form p {
color: black;
font-size: medium;
}

#add-class-form input[type="text"] {
  width: 200px; ;
}
.class-name {
  border: 2px solid aliceblue;
  padding: 10px;
  margin-top: 10px;
}

.class-name label {
    font-size: .8em;
}

/* Style add new vehicle form*/
#add-vehicle-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border:1px solid #cfcfcf;
  background-color: #3876BF;
  border-radius: 5px;
}
#add-vehicle-form p {
  color: black;
font-size: medium;
}
.vehicle-form {
  border: 2px solid aliceblue;
  padding: 10px;
  margin-top: 10px;
}

#classification_id {
  margin-bottom: 20px;
  height: 40px;
  width: 100%;
}


/* Main section */
.notice {
  color: red;
}
#welcome-main-container {
  position: relative;
}

.delorean-vehicule {
 width: 100%;
}

.welcom-presentation {
  position: absolute;
  bottom: 10%;
  left: 0%;
 opacity: 0.9;
  width:125px;
  border: 25px;
  background-color:rgb(251, 255, 255);
  padding-bottom: 35px;

}

.own-today-image {
  position: absolute;
  bottom: 10%;
  left: 0%;
  width: 100px;
  opacity: 1;
  margin-left: 10px;


}

.main-heading-2 {
  color: #3876BF;
  font-weight: 600;
  padding-left: 10px;
  font-size: medium;
}

p {
  margin-left: 10px;
  color: #3876BF;
  font-weight: 600;
  line-height: 0.7;
  font-size: medium;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-section h2 {
 margin-left: 10px;
}

.dolerean-reviews {
  display: flex;
  flex-direction: column;
 justify-items: center;
 justify-content: space-between;
}

.dolerean-reviews ul li {
  padding: 10px;
}
.delorean-upgrades {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.upgrade-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  gap: 35px;
  padding: 10px;
}

.upgrade-images > div {
  background-color: #3876BF;
}

.fisrt-upgrade, .second-upgrade , .third-upgrade, .forth-upgrade {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
}


 .second-upgrade img {
  padding-bottom: 10px;
}

 .upgrade-images img {
  width: 100px;
  top: 50%;
  margin-left: 25%;
  padding-top: 20px;

}

.upgrade-images a {
  text-align: center;
  background-color: aliceblue;
  /* padding-top: 20px; */
}

/* footer */
.copyright {
  color: black;
  font-size: small;
}
footer a{
  color: red;
  margin: 10px;
}
/* media queries */

@media screen and (min-width: 640px) {

  html {
    background-image: url("/images/site/checkerboard.jpg");
    
  }
  .main-section {
    flex-direction: row;
    
  }

  .dolerean-reviews {
    order: 2;
    
  }
.delorean-upgrades {
  flex-grow: 2;
}
.dolerean-reviews ul {
  font-size: 1.3rem;
  padding-top: 10px;
}

.dolerean-reviews ul li {
  padding: 20px;
}
  .upgrade-images {
    gap: 15px;
  }
.own-today-image {
  width: 200px;
}
.main-heading-2 {
  font-size: 2rem;
}
.welcom-presentation {
  width: 250px;
  margin-left: 20px;
  padding-bottom: 50px;
}
p {
  line-height: 0.4;
  font-size: 2rem;
}
/* classification view*/
#inv-display {
  display: flex;
}
.namePrice h2 {
  font-size: smaller;
}
/* detail view*/
#inv-detail {
  display: flex;
}
#inv-detail img {
  height: 100%;
}
}
