<!-- Content Heading of vehicule view-->
<% if (title) {%>
    <h1 class="detail-heading"><%= title %></h1>
    <% } else{
        res.redirect('/')
    } %> 
    <%- grid_detail %>
    <p><%# messages() %></p> 