<!-- Content Heading of vehicule view-->
<% if (title) {%>
    <h1 class="detail-heading"><%= title %></h1>
    <% } else{
        res.redirect('/')
   } %> 
   <p><% messages() %></p> 
    <div class="cart-items">
        <%- addCart_view %>
        </div><br><br>
 
    <%- grid_detail %>
    
   